html {
  min-height: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content button {
  width: 100%;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(165, 165, 165);
  transition: 0.1s;
  user-select: none;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  filter: brightness(0.8);
}

.output {
  padding: 10px;
  min-height: 1.1em;
  background-color: rgba(53, 53, 53, 0.767);
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  user-select: none;
}

.buttons-container {
  display: flex;
}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-right: 5px;
}

.number-button {
  background-color: rgb(236, 236, 236);
}

.number-button--zero {
  grid-column: 1 / 3;
}

.actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-left: 5px;
}

.action-button {
  background-color: rgba(53, 53, 53, 0.767);
  color: white;
}

.action-button--clear, .action-button--equals {
  grid-column: 1 / 3;
}

.action-button--clear {
  background-color: rgb(184, 0, 0);
}